.App {
  text-align: left;
  height: 100vh;
  width: 100vw;
}

.App > div {
  margin: auto;
}

.App > div > div {
  margin: 12px;
}

p {
  text-align: center;
}

.p1 {
  font-weight: 400;
  font-size: 30px;
}

.p2 {
  font-size: 20px;
}